<% include partials/errors %>

	<h1>Registeration Successful</h1>
	<hr>
	<ul>
		<li>Username: <strong> <%= username %> </strong> </li>
		<li>Login Pin: <strong> <%= password %> </strong> </li>
		<li>Team Leader: <strong> <%= teamLead %> </strong> </li>
		<li>College: <strong> <%= college %> </strong> </li>
		<li>Idea Title: <strong> <%= ideaTitle %> </strong> </li>
	</ul>
<% include partials/footer %>